.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  font-size: 3rem /* 48px */;
  font-weight: 700;
  color: #fffffe;
  text-decoration: none;
}
.nav-item a {
  color: #eebbc3;
  margin: 20px;
  font-size: 1.5rem /* 24px */;
}

.nav-item a:hover {
  color: #fffffe;
  font-size: xx-large;
  text-decoration: underline;
  transition: 0.3s ease-out;
}
